<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h1>All data</h1>
<div class="text-center">
    <a style="padding: 25px" href="/clear">Clear all data</a>
</div>
<div class="text-center">
    <a style="padding: 5px" href="/time">Time limited data</a>
    <a style="padding: 5px" href="/index">All data</a>
    <a style="padding: 5px" href="/value">Value limited data</a>
</div>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">timestamp</th>
        <th scope="col">init memory (GB)</th>
        <th scope="col">used memory (GB) </th>
        <th scope="col">max memory (GB)</th>
        <th scope="col">commit memory (GB)</th>
        <th scope="col">address</th>
        <th scope="col">device</th>
    </tr>
    </thead>
<tbody>
<tr th:each="load : ${loads}">
    <td><span th:text="${load.timestamp}"> Author </span></td>
    <td><span th:text="${load.initMemory}"> Author </span></td>
    <td><span th:text="${load.usedMemory}"> Author </span></td>
    <td><span th:text="${load.maxMemory}"> Author </span></td>
    <td><span th:text="${load.commitMemory}"> Author </span></td>
    <td><span th:text="${load.address}"> Address </span></td>
    <td><span th:text="${load.device}"> Device </span></td>
</tr>
</tbody>
</table>

<script>
    setTimeout(function() {
        // auto refresh page after 3 second
        setInterval('refreshPage()', 3000);
    });

    function refreshPage() {
        location.reload();
    }
</script>
</body>

</html>
